/*libreria de letra importada*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{                      /*variables a ocupar en bloque*/
    /*variables de color*/
    --green: hsl(162,45%,56%);
    --plomo: hsl(162,2%,56%);
    --blue: hsl(220, 85% ,57%); 
    --violet: hsl(272, 92%, 32%);   
    --text-white: hsl(0,0%,100%);
    --text-light-gray: hsl(0,0%,90%);
    --body-bg-color: hsl(200, 61%, 19%);
    --glass-bg-color: hsla(0,0%,100%,0.05);
    --border-color: hsla(0,0%,100%,0.25);
    --blur: blur(10px); /*Desenfoque a la imagen de entrada*/
    --button-hover-color: hsla(0, 0%, 0%, 0.47); /*Se usa para cambiar el color de boton cuando se pase el cursor
                                                por encima */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ /*cuerpo de la pagina*/
    background-color: var(--body-bg-color);
    color: var(--text-light-gray);
    font-family: 'Poppins', sans-serif;    
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}
body::after,
body::before{ /**/
    content: '';
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(150px);
    opacity: 0.5;
}

body::before{
    background-color: var(--green); /*dar contraste al fondo inicial*/
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}
body::after{
    background-color: var(--violet);
    right: 0;
    top: 0;
    transform: translate(50%);
}

a{
    text-decoration: none;
    font-weight: 500;
    display: inline-block;

}
.gradient-text{
    background: linear-gradient(to right, #549f61);

}

.form-main{
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.form-content{ 
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.form-content .box{
    border-color: var(--glass-bg-color);
    border: 1px var(--border-color) solid;
    padding: 40px 50px;
    border-radius: 5px;
    backdrop-filter: var(--blur);
    box-shadow: 5px 10px 8px #888888;
    background-color: #004e92;
}

.form-content h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: var(--text-white);
    font-weight: 500;
}
.form-content form{
    margin: 25px 0 20px;
}

.form-content  .input-box{
    margin-bottom: 25px;
}

.form-content ::placeholder{
    color: inherit;
    opacity:1;

}
.form-content .input-control{
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}

.form-content .input-control:focus{
    outline: none;
}

.form-content .input-link{
    margin-top: 10px;
    text-align: right;
}

.form-content .btn {
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, var(--green),var(--blue));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.form-content.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;transition: background-color 0.5s ease;
    z-index: -1;
}
.form-content .btn:hover::before{
    background-color: var(--button-hover-color);
}
.gradient-text{
    background: linear-gradient(to right,var(--green),var(--lead));
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(127, 255, 212, 0.648);
}
.form-content p{
    text-align: center;
}

@media(max-width:575px){  /*Hacer nuestro formulario responsivo para todos los dispositivos*/
    body::after,
    body::before{
        height: 250px;
        width: 250px;
        filter: blur(100px);
    }
    .form-content .box{
        padding: 30px;
    }
    .form-content h3{
        font-size: 24px;
    }

}

#resultado {
    background-color: rgb(101, 4, 4);
    color: white;
    font-weight: bold;
}
#resultado.ok {
    background-color: rgb(5, 45, 5);
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* Estilos para la barra de navegación */

.header button:focus {
    outline: none;
    box-shadow: 0 0 5px var(--blue);
}

.header {
    background-color: var(--blue); /* Cambia el color de fondo de la barra a azul */
    padding: 10px;
    text-align: left;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle algo de profundidad */
}

.header button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: var(--green); /* Color del botón en verde */
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header button:hover {
    background-color: var(--violet); /* Color violeta al pasar el cursor */
}


/* Estilos para el botón "Intentar de nuevo" */
.retry-button {
    display: inline-block;
    background-color: var(--blue);
    color: var(--text-white);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.retry-button:hover {
    background-color: var(--violet);
    transform: translateY(-2px);
}

.retry-button:active {
    background-color: var(--green);
    transform: translateY(2px);
}

/*seccion de estilo footer*/

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

/* Estilo para centrar la caja y darle color de fondo */
.info-box {
    background-color: #120250; /* Azul fuerte */
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
